.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
*.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CMake dirs
build/
_build/
out/
bin/
dist/
*.build/
x64/
x86/

# CMake build files
Makefile
*.ninja
.ninja_deps
.ninja_log